*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* UUUTTTIIILLLIIITTTYYYSSS */
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.border{
    border: 1px dashed black;
}

.bg-gray{
    background-color: rgb(139, 138, 138);
}

.bg-white{
    background-color: white;
}
/* TTTTTTTTAAAAAAAAAAGGGGGGGGGGG */

.nav {
    background-color: lightblue;
    width: 100%;
    height: 50px;
}

.nav nav{
    background-color: orange;
    width: 60%;
    height: 30px;
}

.link ul{
    list-style: none;
    flex-grow: 1;
    gap: 10px;
}

.link{
    flex-grow: 1;
    width: 50%;
    height: 100%;

}

.logo{
    width: 25%;
    height: 100%;

}

.login{
    width: 25%;
    height: 100%;
}

.title{
    height: 400px;
    width: 100%;
    background-color: blue;
}

.title section{
    width: 50%;
    height: 80%;
    background-color: pink;
}

.sezione{
    height: 400px;
    width: 100%;
}

.card{
    width: 70%;
    height: 80%;
}

.card section:nth-child(1){
    height: 100%;
    width: 60%;
    background-color: rgb(0, 191, 255);
}

.card section:nth-child(2){
    height: 100%;
    width: 40%;
    background-color: rgb(249, 138, 210);
}

.last-sezione{
    height: 700px;
}

.last-sezione div{
    height: 90%;
    width: 70%;
    background-color: green;
}

footer{
    height: 500px;
    width: 100%;
    background-color: rgb(39, 39, 47);
    padding-top: 5px;
}

footer>div{
    width: 100%;
    height: 85%;
    border-bottom: 2px solid gray;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footer{
    height: 95%;
    width: 70%;
    display: flex;
}

.footer div:nth-child(1){
    background-color: pink;
    width: calc((100% / 6)*2);
}

.footer div:nth-child(2){
    background-color: rgb(84, 198, 247);
    width: calc((100% / 6)*4);
}

.info{
    display: flex;

}
.info section{
    width: 25%;
    border: 1px dashed white;
}

.foot{
    height:  15%;    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 2px solid gray;
}

.foot-logo{
    width: 70%;
    height: 70%;
    background-color: lightblue;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottoni{
    background-color: pink;
    border: 1px dashed black;
    padding: 5px;
}